<div class="divider"></div>

<div class="container footer-content">
  <div class="columns">
    <div class="column col-1 col-xs-0"></div>
    <div class="column col-3 col-xs-12 footer-section">
      <h4>Navigation</h4>
      <ul class="nav">
        <li class="nav-item">
          <a href="#instructions-wrapper">Instructions</a>
        </li>
        <li class="nav-item">
          <a href="#gallery-wrapper">Gallery</a>
        </li>
      </ul>
    </div>

    <div class="column col-5 col-xs-12 footer-section">
      <h4>Devs</h4>
      <div class="columns">
        <div class="column col-6">
          <div class="tile">
            <div class="tile-icon">
              <div class="example-tile-icon">
                <i class="icon icon-edit centered"></i>
              </div>
            </div>
            <div class="tile-content">
              <p class="tile-title">Chris Perceval-Maxwell</p>
            </div>
          </div>
        </div>
        <div class="column col-6">
          <div class="tile">
            <div class="tile-icon">
              <div class="example-tile-icon">
                <i class="icon icon-resize-horiz centered"></i>
              </div>
            </div>
            <div class="tile-content">
              <p class="tile-title">Christopher McKay</p>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column col-6">
          <div class="tile">
            <div class="tile-icon">
              <div class="example-tile-icon">
                <i class="icon icon-message centered"></i>
              </div>
            </div>
            <div class="tile-content">
              <a href="https://github.com/cpuved" target="_blank" class="tile-title">Github</a>
              <span> + </span>
              <a href="https://twitter.com/cpudev" target="_blank" class="tile-title">Twitter</a>
            </div>
          </div>
        </div>
        <div class="column col-6">
          <div class="tile">
            <div class="tile-icon">
              <div class="example-tile-icon">
                <i class="icon icon-message centered"></i>
              </div>
            </div>
            <div class="tile-content">
              <a href="https://github.com/cj1m" target="_blank" class="tile-title">Github</a>
              <span> + </span>
              <a href="https://twitter.com/cj1mckay" target="_blank" class="tile-title">Twitter</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column col-2 footer-logo" id="footer-logo-xl">
      <img src="../../public/res/logo.png" alt="">
    </div>

    <div class="column col-12 footer-logo" id="footer-logo">
      <img src="../../public/res/logo-full.png" alt="">
    </div>
  </div>
</div>

<p class="center-txt" id="copy">&copy; 1-800-MEME 2018-2019</p>
