<section class="p-fixed" id="header-logo">
  <a href="/#"><img src="../../public/res/favicon.png" alt=""></a>
</section>

<section class="p-fixed" id="header-nav">
  <button class="btn btn-md"><a href="#instructions-wrapper">Instructions</a></button>
  <button class="btn btn-md btn-primary"><a href="#gallery-wrapper" class="button">Gallery</a></button>
</section>
