<!--landing-->
<div class="landing">
  <div class="section">
    <div class="empty shadow-med">
      <p class="empty-title h1 text-dark" id="title">1-800-MEME</p>
      <p class="empty-title h5">Dial a meme on <a href="tel:08081649195" class="turq-txt" id="phone">08081649195</a>!</p>
    </div>

    <div class="section" id="instructions-wrapper">
      <h2 class="center-txt text-med">Instructions <span class="label label-primary sub-txt">Available</span> <span class="label label-error sub-txt">Unavailable</span></h2>
      <br>

      <div class="columns">
        <div class="column col-6">
          <button type="button" name="classic-ins" class="btn btn-primary btn-block shadow-shallow">Classic Meme</button>
          <br>
          <button type="button" name="insta-ins" class="btn btn-error btn-block shadow-shallow">Instagram Meme</button>
          <br>
          <button type="button" name="tweet-ins" class="btn btn-error btn-block shadow-shallow">Fake Tweet</button>
        </div>
        <div class="column col-6">
          <button type="button" name="gif-ins" class="btn btn-primary btn-block shadow-shallow">GIF</button>
          <br>
          <button type="button" name="deepfry-ins" class="btn btn-primary btn-block shadow-shallow">Deepfried Meme</button>
          <br>
          <button type="button" name="content-ins" class="btn btn-error btn-block shadow-shallow">C-A Scaled Meme</button>
        </div>
      </div>

      <div class="modal classic-ins" id="modal-id">
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
          <div class="modal-header">
            <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5">Classic Meme</div>
          </div>
          <div class="modal-body">
            <div class="content">
              <p>Press '#' after each step!</p>
              <blockquote>
                1. Say "Classic".
              </blockquote>
              <blockquote>
                2. Say what you want the 'Top Text' to read.
              </blockquote>
              <blockquote>
                3. Say what you want the 'Bottom Text' to read.
              </blockquote>
              <blockquote>
                4. Say what you want image you want.
              </blockquote>
              <blockquote>
                5. Say your name (or whatever you want to be seen as!).
              </blockquote>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn"><a href="https://i.imgflip.com/276upe.jpg" target="_blank">See an example!</a></button>
          </div>
        </div>
      </div>

      <div class="modal insta-ins" id="modal-id">
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
          <div class="modal-header">
            <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5">Instagram Meme</div>
          </div>
          <div class="modal-body">
            <div class="content">
              <p>Press '#' after each step!</p>
              <blockquote>
                1. Say "Instagram".
              </blockquote>
              <blockquote>
                2. Say what you want the 'Top Text' to read.
              </blockquote>
              <blockquote>
                3. Say "Funny" for 'laughing emoji' OR "Sad" for the 'crying emoji'.
              </blockquote>
              <blockquote>
                4. Say what you want image you want.
              </blockquote>
              <blockquote>
                5. Say your name (or whatever you want to be seen as!).
              </blockquote>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn"><a href="http://www.lovethispic.com/uploaded_images/329728-Lmao-Who-Did-This-.jpg" target="_blank">See an example!</a></button>
          </div>
        </div>
      </div>

      <div class="modal tweet-ins" id="modal-id">
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
          <div class="modal-header">
            <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5">Fake Tweet
            </div>
          </div>
          <div class="modal-body">
            <div class="content">
              <p>Press '#' after each step!</p>
              <blockquote>
                1. Say "Tweet".
              </blockquote>
              <blockquote>
                2. Say what twitter handle you want to use.
              </blockquote>
              <blockquote>
                3. Say what you want the tweet to read.
              </blockquote>
              <blockquote>
                5. Say your name (or whatever you want to be seen as!).
              </blockquote>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn"><a href="https://media0ch-a.akamaihd.net/33/31/42d98aa61195812b0957b768156df1af.jpg" target="_blank">See an example!</a></button>
          </div>
        </div>
      </div>

      <div class="modal gif-ins" id="modal-id">
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
          <div class="modal-header">
            <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5">GIF
            </div>
          </div>
          <div class="modal-body">
            <div class="content">
              <p>Press '#' after each step!</p>
              <blockquote>
                1. Say "Animated".
              </blockquote>
              <blockquote>
                2. Describe your gif in a few keywords.
              </blockquote>
              <blockquote>
                3. Say your name (or whatever you want to be seen as!).
              </blockquote>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn"><a href="https://i2.wp.com/teamjimmyjoe.com/wp-content/uploads/2016/11/trump-clinton-godzilla-funny-gifs.gif" target="_blank">See an example!</a></button>
          </div>
        </div>
      </div>

      <div class="modal deepfry-ins" id="modal-id">
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
          <div class="modal-header">
            <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5">Deepfryer
            </div>
          </div>
          <div class="modal-body">
            <div class="content">
              <p>Press '#' after each step!</p>
              <blockquote>
                1. Say "Deepfried".
              </blockquote>
              <blockquote>
                2. Say a number between 0-100 for level of deepfrying.
              </blockquote>
              <blockquote>
                3. Say what image you want.
              </blockquote>
              <blockquote>
                5. Say your name (or whatever you want to be seen as!).
              </blockquote>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn"><a href="https://i.redd.it/7idpkayz1kbz.jpg" target="_blank">See an example!</a></button>
          </div>
        </div>
      </div>

      <div class="modal content-ins" id="modal-id">
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
          <div class="modal-header">
            <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5">Content-Aware Scaling
            </div>
          </div>
          <div class="modal-body">
            <div class="content">
              <p>Press '#' after each step!</p>
              <blockquote>
                1. Say "Content-Aware".
              </blockquote>
              <blockquote>
                2. Say a number between 0-100 for level of scaling.
              </blockquote>
              <blockquote>
                3. Say what image you want.
              </blockquote>
              <blockquote>
                5. Say your name (or whatever you want to be seen as!).
              </blockquote>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn"><a href="https://i.ytimg.com/vi/GVvIrf2AcB8/maxresdefault.jpg" target="_blank">See an example!</a></button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<!--content-->
<div class="content">

  <div class="section" id="gallery-wrapper">
    <div class="empty shadow-med">
      <div class="empty-icon">
        <i class="icon icon-2x icon-photo"></i>
      </div>
      <p class="empty-title h5">Gallery!</p>
      <p class="empty-subtitle">Browse what everyone is dialing in for! (Only most recent 12)</p>
      <div class="empty-action">
        <button class="btn btn-primary"><a href="#instructions-wrapper" class="button">Try it yourself!</a></button>
      </div>
    </div>

    <div id="gallery-container">
      <div class="columns">

        <div class="column col-4">

          <div class="card">
            <div class="card-image">
              <img src="https://i.ytimg.com/vi/GVvIrf2AcB8/maxresdefault.jpg" class="img-responsive">
            </div>
            <div class="card-footer">
              <span class="label label-rounded label-turq">memelordxd</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img src="https://i.redd.it/7idpkayz1kbz.jpg" class="img-responsive">
            </div>
            <div class="card-footer">
              <span class="label label-rounded label-turq">memelordxd</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img src="http://www.lovethispic.com/uploaded_images/329728-Lmao-Who-Did-This-.jpg" class="img-responsive">
            </div>
            <div class="card-footer">
              <span class="label label-rounded label-turq">memelordxd</span>
            </div>
          </div>

        </div>

        <div class="column col-4">

          <div class="card">
            <div class="card-image">
              <img src="https://i.redd.it/7idpkayz1kbz.jpg" class="img-responsive">
            </div>
            <div class="card-footer">
              <span class="label label-rounded label-turq">memelordxd</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img src="https://i.ytimg.com/vi/GVvIrf2AcB8/maxresdefault.jpg" class="img-responsive">
            </div>
            <div class="card-footer">
              <span class="label label-rounded label-turq">memelordxd</span>
            </div>
          </div>


          <div class="card">
            <div class="card-image">
              <img src="http://www.lovethispic.com/uploaded_images/329728-Lmao-Who-Did-This-.jpg" class="img-responsive">
            </div>
            <div class="card-footer">
              <span class="label label-rounded label-turq">memelordxd</span>
            </div>
          </div>

        </div>

        <div class="column col-4">

          <div class="card">
            <div class="card-image">
              <img src="http://www.lovethispic.com/uploaded_images/329728-Lmao-Who-Did-This-.jpg" class="img-responsive">
            </div>
            <div class="card-footer">
              <span class="label label-rounded label-turq">memelordxd</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img src="https://i.ytimg.com/vi/GVvIrf2AcB8/maxresdefault.jpg" class="img-responsive">
            </div>
            <div class="card-footer">
              <span class="label label-rounded label-turq">memelordxd</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img src="https://i.redd.it/7idpkayz1kbz.jpg" class="img-responsive">
            </div>
            <div class="card-footer">
              <span class="label label-rounded label-turq">memelordxd</span>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
