<!--landing-->
<div class="landing">
  <div class="section">
    <div class="empty shadow-shallow">
      <p class="empty-title h1">1-800-MEME</p>
      <p class="empty-title h4">Dial a meme!</p>
    </div>

    <div class="section" id="instructions-wrapper">
        <h1>instructions</h1>
    </div>

  </div>
</div>


<!--content-->
<div class="content">

  <div class="section" id="gallery-wrapper">
    <div class="empty shadow-shallow">
      <div class="empty-icon">
        <i class="icon icon-2x icon-photo"></i>
      </div>
      <p class="empty-title h5">Gallery!</p>
      <p class="empty-subtitle">Browse what everyone is dialing in for!</p>
      <div class="empty-action">
        <button href="#" class="btn btn-primary">Try it yourself!</button>
      </div>
    </div>

    <div id="gallery-container">

    </div>
  </div>

</div>
